/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #373737;
  background: #e5e5e5;
}

header {
  background: beige;
}

.grid-header {
  display: grid;
}

.grid-header nav {
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.grid-header nav > ul {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: space-evenly;
}

.grid-header .flex-header {
  display: flex;
  padding: 1rem;
  background: #5c5c5c;
  justify-content: space-between;
}

.grid-header .flex-header .logo {
  background: url("/assets/images/dolman_lawgroup_logo.png") no-repeat;
  width: 200px;
  height: 75px;
}

.grid-header .flex-header .burger-menu #myLinks {
  display: none;
}

.grid-header .flex-header .burger-menu .burger {
  background: #fff !important;
}

.tap-to-call {
  background: #000;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tap-to-call i,
.tap-to-call a {
  background: transparent;
  color: #fff;
  text-transform: capitalize;
}

.tap-to-call a {
  background: #e10f0f;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Bitter", serif;
  letter-spacing: 1px;
}

.hero-section {
  background: url("/assets/images/dolman_bg_hero.jpg") no-repeat center center/cover;
  width: 100%;
  min-height: 380px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero-section .hero-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero-section .hero-flex button {
  display: none;
}

.hero-section .hero-flex .hero-p1,
.hero-section .hero-flex .hero-p2 {
  font-family: "Playfair Display", serif;
  font-size: 2.1rem;
  text-transform: capitalize;
  color: #fff;
  margin: 0 10px;
}

.hero-section .hero-flex .hero-p2 {
  font-size: 1rem;
}

.hero-section .hero-flex a {
  margin: 20px 0;
  margin-bottom: 40px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: #e10f0f;
  padding: 1rem 1.3rem;
  letter-spacing: 1px;
  border-radius: 5px;
}

.hero-section .hero-flex,
.hero-section .hero-flex > * {
  background: transparent;
}

.case-section {
  display: flex;
  flex-direction: row;
  padding: 3rem 2rem;
  justify-content: center;
}

.case-section div {
  text-align: center;
  text-transform: capitalize;
}

.case-section div .divider {
  background: #cac9c9;
  height: 3px;
  width: 90px;
  display: block;
  margin: 1.5rem auto;
}

.case-section div p {
  margin: 0.5rem 0;
}

.case-section div p:nth-child(1) {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

.case-section div p:nth-child(3) {
  font-size: 1.7rem;
  font-weight: bolder;
  color: #e10f0f;
}

.case-section div a {
  color: #e43535;
}

.case-section .case-card:nth-child(2),
.case-section .case-card:nth-child(3),
.case-section .case-card:nth-child(4) {
  display: none;
}

.grid {
  background: #fff !important;
  padding: 3rem 0.7rem;
}

.grid div:nth-child(1) {
  background: #c7c9cc;
  text-align: center;
  padding: 0 0.3rem;
  padding-bottom: 1.5rem;
}

.grid div:nth-child(1) video {
  width: 100%;
}

.grid div:nth-child(2),
.grid div:nth-child(3) {
  text-align: center;
  background: transparent;
}

.grid div:nth-child(2) *,
.grid div:nth-child(3) * {
  background: transparent;
}

.grid div:nth-child(2) h2,
.grid div:nth-child(3) h2 {
  text-transform: uppercase;
  line-height: 1.3;
  margin: 1rem 0;
}

.grid div:nth-child(2) h1,
.grid div:nth-child(3) h1 {
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  font-size: 2.1rem;
  color: #e10f0f;
  line-height: 1;
}

.grid div:nth-child(2) .divider,
.grid div:nth-child(3) .divider {
  background: #cac9c9;
  height: 3px !important;
  width: 90px;
  display: block;
  margin: 1.5rem auto;
}

.grid div:nth-child(3) p {
  margin-bottom: 1rem;
  line-height: 1.8;
}

.grid div:nth-child(3) a {
  text-transform: uppercase;
  color: #e10f0f;
  border-bottom: 3px solid #e10f0f;
  padding: 2rem 0;
  padding-bottom: 0.3rem;
}

.company-section {
  padding: 1rem;
}

.company-section p {
  color: #e10f0f;
  text-transform: uppercase;
}

.company-section .grid-company {
  padding: 1.5rem 0;
}

.company-section .grid-company div p {
  padding: 1rem 0;
}

.company-section .grid-company div img {
  width: 100%;
}

.case-category-section {
  padding: 3rem 1rem;
  background: #fff;
}

.case-category-section p:nth-child(1) {
  background: transparent;
  text-transform: capitalize;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
}

.case-category-section .divider {
  background: #cac9c9;
  height: 3px;
  width: 90px;
  display: block;
  margin: 1.5rem auto;
}

.case-category-section .grid-case-category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  background: #fff;
}

.case-category-section .grid-case-category div {
  align-self: center;
  justify-self: center;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 0;
  width: 99.9%;
}

.case-category-section .grid-case-category div img {
  width: 45px;
}

.case-category-section .grid-case-category div P {
  width: 95px;
  text-align: center;
  margin: 0 auto;
}

.case-category-section .grid-case-category div:nth-child(odd) {
  border-right: 1px solid black;
}

.case-category-section .grid-case-category * {
  background: #fff;
}

.case-category-section a {
  padding: 0.7rem 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #e10f0f;
  display: block;
  width: 220px;
  margin: 1.5rem auto;
  border-radius: 30px;
}

.attorneys-section {
  background: #e5e5e5;
  padding: 3rem 1rem;
}

.attorneys-section .grid-attorneys-section {
  display: grid;
}

.attorneys-section .grid-attorneys-section div:nth-child(1) {
  text-align: center;
}

.attorneys-section .grid-attorneys-section div:nth-child(1) .divider {
  background: #cac9c9;
  height: 3px;
  width: 90px;
  display: block;
  margin: 1.5rem auto;
}

.attorneys-section .grid-attorneys-section div:nth-child(1) p:nth-child(1) {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.attorneys-section .grid-attorneys-section div:nth-child(1) .our-attorneys {
  line-height: 1.7;
}

.attorneys-section .grid-attorneys-section .grid-attorneys {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 2rem 0;
}

.attorneys-section .grid-attorneys-section .grid-attorneys .attorney-container {
  position: relative;
}

.attorneys-section .grid-attorneys-section .grid-attorneys .attorney-container img {
  width: 100%;
}

.attorneys-section .grid-attorneys-section .grid-attorneys .attorney-container .arrow {
  background: #e10f0f;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.attorneys-section .grid-attorneys-section .grid-attorneys p {
  text-transform: capitalize;
  text-align: center;
  line-height: 1.3;
}
